# Kaggle API
KAGGLE_USERNAME=
KAGGLE_KEY=

# Object Store (Rustfs)
AWS_ACCESS_KEY_ID=nisseya
AWS_SECRET_ACCESS_KEY=123456
AWS_S3_BUCKET=asl-spark
AWS_S3_ENDPOINT=http://localhost:9000
AWS_REGION=us-east-1

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=asl-spark
POSTGRES_USER=nisseya
POSTGRES_PASSWORD=123456
